{
  "extends": "airbnb",
  "env": {
    "node": true
  },
  "rules": {
    "no-console": "off",
    "object-shorthand": "off",
    "func-names": "off",
    "global-require": "off",
    "no-use-before-define": ["error", { "functions": false }],
    "import/no-dynamic-require": "off"
  }
}